body {
  margin: 0;
}

.table {
  background-image: url("../css/img/ktulhu.jpg");
  /* background-position: 50%; */
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  gap: 20px;
  height: 100vh;
  justify-content: space-between;
  width: 100vw;
}

.ancients-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 10px;
  min-width: 40%;
  padding: 20px;
}





.difficulty-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: 100vh;
  justify-content: center;
}





.deck-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  min-width: 30%;
}