@font-face {
    font-family: 'Horror';
    src: url(./assets/Font/ofont.ru_Old\ Horror\ Films.ttf);
}

body {
    position: relative;
    margin: 0;
    height: 100%;
    overflow: hidden;
    font-family: 'Horror';
    font-weight: 400;
}

.background {
    position: relative;
    min-height: 100%;
    transition: 0.5s;
    background-image: url(./assets/Background/background.jpg);
    background-position: 50% 100%;
    background-size: cover;
}

.water {
    display: flex;
    justify-content: space-between;
    position: relative;
    width: 100%;
    height: 100vh;
    background-image: url(./assets/Rain/water.png);
    animation: water .4s linear infinite;
    padding: 30px;
}

@keyframes water {
    0% {
        background-position: -10% -100%;
    }

    100% {
        background-position: 10% 100%;
    }
}

.ancient-cards {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 35vw;

    img {
        position: relative;
        padding: 10px;
        border-radius: 30px;
        cursor: pointer;
        transition-duration: .2s;
    }
}

.difficulty {
    padding: 10px;
    color: white;
    font-size: 20px;
    background-image: url(./assets/mythicCardBackground.png);
    background-position: center;
    background-size: cover;
    opacity: .3;
    transition-duration: 1s;
    cursor: pointer;
    border: 5px solid transparent;
    border-radius: 10px;
    border-image: url(/assets/Gif/fire-65.gif) 47%/0/0 stretch;

    &:hover {
        opacity: 1;
        transition-duration: 1s;
        border: 10px solid transparent;
        border-image: url(/assets/Gif/fire-65.gif) 47%/1/0 stretch;
    }

    &:not(:last-child) {
        margin-bottom: 15px;
    }

    &-level {
        max-width: 30vw;
        background-image: url(./assets/Scroll/scroll.png);
        background-repeat: no-repeat;
        background-position: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 100px;
        // transform: scale(0);
        transition-duration: 2s;
    }
}

.deck-of-cards {
    // transform: scale(0);
    transition-duration: 2s;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding-right: 100px;
    padding-left: 100px;
    max-width: 35vw;
}

.stages {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &__title {
        margin-bottom: 10px;
        margin-top: 10px;
        color: white;
        font-size: 30px;
    }

    &__quantity {
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 1;

        input {
            position: relative;
            width: 60px;
            height: 60px;
            text-align: center;
            font-size: 40px;
            color: white;
            pointer-events: none;
            z-index: 2;
            opacity: .7;
            border-radius: 10px;

            &:not(:last-child) {
                margin-right: 20px;
            }
        }
    }
}

.green {
    background-image: url(./assets/Stages/green.png);
    &:hover {
        border: 2px solid linear-gradient(90deg, #000000,#230b10,#331016,#230b10,#000000);
    }
}

.brown {
    background-image: url(./assets/Stages/brown.png);
}

.blue {
    background-image: url(./assets/Stages/blue.png);
}

.working {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

// .deck-of-playing-cards {
//     position: absolute;
//     border: 1px solid red;
//     width: 200px;
//     height: 280px;
//     border-radius: 30px;
// }

.inverted-deck {
    position: relative;
    z-index: 2;
    margin-right: 50px;

    .deck {
        border-radius: 30px;
        opacity: .4;
        transition-duration: 1s;
        cursor: pointer;

        &:hover {
            opacity: 1;
            transition-duration: 1s;
        }
    }
}

.random-card {
    position: relative;
    z-index: 1;
    width: 200px;
    height: 280px;
    border-radius: 30px;
    opacity: .8;
    transition-duration: .5s;
    transform: translateX(-250px);
}

.fire-border {
    border: 10px solid transparent;
    border-image: url(./assets/Gif/fire-65.gif) 47%/1/0 stretch;
    transform: scale(1.1);
    opacity: 1;
    transition-duration: 1s;
}

.show {
    transform: scale(1);
    transition-duration: 2s;
}

.hide {
    transform: scale(0);
    transition-duration: 1s;
}

.random-card.show {
    transform: translateX(0px) rotateY(360deg);
    transition-duration: 1s;
}

.none-click {
    pointer-events: none;
}