body {
  position: relative;
  margin: 0;
  height: 100%;
  overflow: hidden;
}

.background {
  position: relative;
  min-height: 100%;
  transition: 0.5s;
  background-image: url(./assets/Background/background.jpg);
  background-position: 50% 100%;
  background-size: cover;
}

.water {
  display: flex;
  justify-content: space-between;
  position: relative;
  width: 100%;
  height: 100vh;
  background-image: url(./assets/Rain/water.png);
  -webkit-animation: water 0.4s linear infinite;
          animation: water 0.4s linear infinite;
  padding: 30px;
}

@-webkit-keyframes water {
  0% {
    background-position: -10% -100%;
  }
  100% {
    background-position: 10% 100%;
  }
}

@keyframes water {
  0% {
    background-position: -10% -100%;
  }
  100% {
    background-position: 10% 100%;
  }
}
.ancient-cards {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 35vw;
}
.ancient-cards img {
  position: relative;
  padding: 10px;
  border-radius: 30px;
  cursor: pointer;
  transition-duration: 0.2s;
}

.difficulty {
  padding: 10px;
  color: white;
  font-size: 20px;
  background-image: url(./assets/mythicCardBackground.png);
  background-position: center;
  background-size: cover;
  opacity: 0.3;
  transition-duration: 1s;
  cursor: pointer;
  border: 5px solid transparent;
  border-radius: 10px;
  -o-border-image: url(/assets/Gif/fire-65.gif) 47%/0/0 stretch;
     border-image: url(/assets/Gif/fire-65.gif) 47%/0/0 stretch;
}
.difficulty:hover {
  opacity: 1;
  transition-duration: 1s;
  border: 10px solid transparent;
  -o-border-image: url(/assets/Gif/fire-65.gif) 47%/1/0 stretch;
     border-image: url(/assets/Gif/fire-65.gif) 47%/1/0 stretch;
}
.difficulty:not(:last-child) {
  margin-bottom: 15px;
}
.difficulty-level {
  max-width: 30vw;
  background-image: url(./assets/Scroll/scroll.png);
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 100px;
  transform: scale(0);
  transition-duration: 2s;
}

.deck-of-cards {
  transform: scale(0);
  transition-duration: 2s;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding-right: 100px;
  padding-left: 100px;
  max-width: 35vw;
}

.stages {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.stages__title {
  margin-bottom: 10px;
  margin-top: 10px;
  color: white;
  font-size: 20px;
}
.stages__quantity {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}
.stages__quantity input {
  position: relative;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  text-align: center;
  font-size: 20px;
  color: white;
  pointer-events: none;
  z-index: 2;
}
.stages__quantity input:not(:last-child) {
  margin-right: 10px;
}

.green {
  background-color: green;
}

.brown {
  background-color: brown;
}

.blue {
  background-color: blue;
}

.working {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.inverted-deck {
  position: relative;
  z-index: 2;
  margin-right: 50px;
}
.inverted-deck .deck {
  border-radius: 30px;
  opacity: 0.4;
  transition-duration: 1s;
  cursor: pointer;
}
.inverted-deck .deck:hover {
  opacity: 1;
  transition-duration: 1s;
}

.random-card {
  position: relative;
  z-index: 1;
  width: 200px;
  height: 280px;
  border-radius: 30px;
  opacity: 0.8;
  transition-duration: 0.5s;
  transform: translateX(-250px);
}

.fire-border {
  border: 10px solid transparent;
  -o-border-image: url(/assets/Gif/fire-65.gif) 47%/1/0 stretch;
     border-image: url(/assets/Gif/fire-65.gif) 47%/1/0 stretch;
  transform: scale(1.1);
  opacity: 1;
  transition-duration: 1s;
}

.show {
  transform: scale(1);
  transition-duration: 2s;
}

.hide {
  transform: scale(0);
  transition-duration: 1s;
}

.random-card.show {
  transform: translateX(0px) rotateY(360deg);
  transition-duration: 1s;
}

.none-click {
  pointer-events: none;
}/*# sourceMappingURL=style.css.map */