body {
    margin: 0px;
    font-family: 'Alfa Slab One', cursive;
    color: white;
    font-size: larger;
    
    
}

.playing-field {
    background-image: url(./assets/home.png);
    background-position: 50%;
    display: flex;
    margin: 0px;
    gap: 35px;
    min-height: 100vh;
    background-size: cover;
    
}

/******* Cards change ********/
.cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 40%;
    gap: 15px;
    padding: 20px;
    
}

.first-card {
    display: block;
    background-image: url(./assets/Ancients/Azathoth.png);
    height: 260px;
    width: 200px;
    box-sizing: border-box;
    background-size: contain;
    border-radius: 10px;
    transition: 0.2s linear;
}

.first-card:hover {
    cursor: pointer;
    transform: translate(10px, 10px);
    transition: 0.2s linear;
}

.second-card {
    display: block;
    background-image: url(./assets/Ancients/IogSothoth.png);
    height: 260px;
    width: 200px;
    box-sizing: border-box;
    background-size: contain;
    border-radius: 10px;
    transition: 0.2s linear;
}

.second-card:hover {
    cursor: pointer;
    transform: translate(10px, 10px);
    transition: 0.2s linear;
}

.third-card {
    display: block;
    background-image: url(./assets/Ancients/Cthulthu.png);
    height: 260px;
    width: 200px;
    box-sizing: border-box;
    background-size: contain;
    border-radius: 10px;
    transition: 0.2s linear;
}
.third-card:hover {
    cursor: pointer;
    transform: translate(10px, 10px);
    transition: 0.2s linear;
}

.fourth-card {
    display: block;
    background-image: url(./assets/Ancients/ShubNiggurath.png);
    box-sizing:border-box;
    height: 260px;
    width: 200px;
    background-size: contain;
    border-radius: 10px;
    transition: 0.2s linear;
}
.fourth-card:hover {
    cursor: pointer;
    transform: translate(10px, 10px);
    transition: 0.2s linear;
}

/*****  Difficulty level ********/


.difficult-text {
    margin: 5px;
    transition: all 0.5s ease 0s;
}
.difficult-text:hover {
    cursor: pointer;
}

.difficulty-level {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 20%;
    align-items: center;
    gap: 10px;
}

.very-easy:hover {
    color: rgba(0, 128, 0, 0.5);
}

.easy:hover {
    color: green;
}

.normal:hover {
    color: yellow;
}

.high:hover {
    color:rgba(230, 55, 55, 0.8);
}

.very-high:hover {
    color: red;
}

/******* Info cards ******/

.info-cards {
    display: flex;
    flex-direction: column;
    margin-left: 200px;
    max-width: 40%;
}
.stages {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px 0 10px 0;
    align-items: center;
}
.circles {
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.first-stage {
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.second-stage {
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.third-stage {
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.stage-text {
    margin: 0px;
    font-size: smaller;
}

.circle-green {
    display: flex;
    background-color: green;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    font-size: medium;
}
.circle-brown {
    display: flex;
    background-color: brown;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    font-size: medium;
}
.circle-blue {
    display: flex;
    background-color: blue;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    font-size: medium;
}

.deck-card {
    background-image: url(./assets/mythicCardBackground.png);
    height: 190px;
    width: 130px;
    background-size: cover;
    display: block;
}

.current-card {
    background-image: url(./assets/MythicCards/blue/blue1.png);
    height: 190px;
    width: 130px;
    background-size: cover;
    display: block;
    border-radius: 10%;
    margin-top: 10px;
}
